
:root{
  --main-color:#E5F5FF;
  --secound-color:#74BEED;
  --third-color:#78C3F3;
  --btn-one:#0B87D7;
  --hover-btn-one:#004D7E;
  --text-color1:#1E1E1E;
  
}

A sleek and stylish portfolio website design featuring responsive layouts, interactive project galleries, smooth navigation, and an engaging user experience.